In [26]:
import numpy as np
import pandas as pd
import statistics as stat

In [27]:
data = pd.read_csv(r'F:\DSA\Sales_add.csv')

In [28]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

## Question 1

### To check whether there is any increase in sales after stepping into digital marketing ?

#### Null Hypothesis : There is no increase in sales
#### Alternate Hypothesis : There is an increase in sales

In [30]:
from scipy.stats import ttest_ind

In [31]:
tstat , pvalue = ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [32]:
pvalue

2.614368006904645e-16

In [33]:
if pvalue < 0.05:
    print('There is an increase in sales')
else :
    print('There is no increase in sales')

There is an increase in sales

## Question 2

### To check whether there is any dependency between the features “Region” and “Manager”

In [34]:
from scipy.stats import chi2_contingency

#### Null Hypothesis : There is no dependency between Region and Manager
#### Alternate Hypothesis : There is dependency between Region and Manager

In [35]:
contingency_table = pd.crosstab(data['Region'], data['Manager'])

In [36]:
chi_stat, p_value, dof, expected = chi2_contingency(contingency_table)

In [37]:
print(f"Chi square statistic : {chi_stat}")
print(f"P value : {p_value}")
print(f"Degree of Freedom : {dof}")
print(f"Expected value : {expected}")

Chi square statistic : 3.050566893424036
P value : 0.5493991051158094
Degree of Freedom : 4
Expected value : [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [38]:
alpha = 0.05  # significance level

if p_value < alpha:
    print("There is a dependency between Region and Manager.")
else:
    print("There is no dependency between Region and Manager.")

There is no dependency between Region and Manager.